<ion-view view-title="Diceware">
<ion-content padding="true">

<h4>Using Diceware</h4>

<div class="card">
    <div class="item item-divider">
        Step 1: Choose your output
    </div>
    <div class="item item-text-wrap">
        Use the selector to choose either Words, Alphanumeric, ASCII, or
        Numbers.  You can change your output as you go in order to mix
        and match different types.
    </div>
</div>

<div class="card">
    <div class="item item-divider">
        Step 2: Roll those dice!
    </div>
    <div class="item item-text-wrap">
        The number of rolls required to get an output will be shown
        under the output line.  If you need five rolls, then roll five
        dice or one die five times.  If you do not have dice, use the
        Random.org button to securely retrieve true random numbers.
    </div>
</div>

<div class="card">
    <div class="item item-divider">
        Step 3: Enter your rolls
    </div>
    <div class="item item-text-wrap">
        For each roll of the die or dice, enter the number using the
        numbered buttons near the top of the interface.  When the
        required number of rolls for your output have been entered, the
        output text will be shown at the output line, just above the
        numbered buttons.
    </div>
</div>

<div class="card">
    <div class="item item-divider">
        Step 4: Rinse and repeat!
    </div>
    <div class="item item-text-wrap">
        It is recommended that you build up your passphrase to be at
        least five words long.  Use the Copy button to copy your output
        to the clipboard when you are finished.
    </div>
</div>

</ion-content>
</ion-view>
