<ion-view view-title="Diceware">
<ion-content padding="true">
<div class="card">
    <div class="item item-divider">
        Using Diceware
    </div>
    <div class="item item-text-wrap">
        Depending on whether you choose to output Words, Alphanumeric,
        or Numbers, you will be prompted to roll between two and
        five times.  Roll that many dice and enter the values by
        pressing the numbered buttons near the top of the interface.  If
        you do not have dice, just press the Random.org button to
        securely retrieve random numbers.
    </div>
</div>
</ion-content>
</ion-view>
